@page
@model WestcoastEducationAdminApp.Pages.Users.Create
@{
    ViewData["Title"] = "Create user";
}
@section styles
{
<link rel="stylesheet" href="/css/textbox.css">
<link rel="stylesheet" href="/css/create-user.css">
}

<h1>@ViewData["Title"]</h1>

<div class="form-container textbox">
    <form method="post">
        <p>Personal details</p>
        <input asp-for="UserModel.FirstName" placeholder="First name">
        <input asp-for="UserModel.LastName" placeholder="Last name">
        <input asp-for="UserModel.Email" placeholder="Email">
        <input asp-for="UserModel.PhoneNumber" placeholder="Phone number">
        <select asp-for="UserModel.RoleName">
            <option value="" selected disabled hidden>Please select role</option>
            <option value="Student">Student</option>
            <option value="Teacher">Teacher</option>
        </select>
        <br>
        <p>Address</p>
        <input asp-for="AddressModel.Street" placeholder="Street">
        <input asp-for="AddressModel.StreetNumber" placeholder="Street number">
        <input asp-for="AddressModel.PostalCode" placeholder="Postal code">
        <input asp-for="AddressModel.City" placeholder="City">
        <input asp-for="AddressModel.Country" placeholder="Country">
        <button type="submit">Submit</button>
    </form>
</div>

<br>
<p>@Model.Message</p>