<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="https://icon-library.com/images/goat-icon/goat-icon-3.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/colors.css">
    <link rel="stylesheet" href="/css/layout.css">
    @RenderSection("styles", false)
    <title>@ViewData["Title"] - BestGoat Education Admin App</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <h1>BestGoat Education <span>Admin Portal</span></h1>
            <ul>
                <li><a asp-page="/Index">Home</a></li>
                <li><a asp-page="/Courses/Index">Courses</a></li>
                <li><a asp-page="/Students/Index">Students</a></li>
                <li><a asp-page="/Teachers/Index">Teachers</a></li>
            </ul>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>