:root {
    --navbar-text-color-h1-a: rgb(160, 0, 0);
    --navbar-text-color-h1-b: rgb(38, 172, 38);
    --navbar-text-color: crimson;
    --navbar-background-color: #222;
    
    --primary-text-color: #ddd;
    --primary-background-color: #333;
    --link-hover-color: crimson;
    
    --details-border-color: crimson;
    --details-background-color: rgba(50, 50, 50, 0.7);
    --details-table-background-color: #555;
    --details-table-outer-border-color: crimson;
    --details-table-inner-border-color: #111;
    --details-table-stripe1-color: #333;
    --details-table-stripe2-color: #3a3a3a;
}