:root {
    --navbar-background-color: #222;
    --navbar-text-color-h1-a: rgb(161, 6, 154);
    --navbar-text-color-h1-b: rgb(38, 172, 38);
    --navbar-text-color: #2b2;
    
    --primary-background-color: #444;
    --primary-text-color: #ddd;
    
    --courses-card-hover-color: #222;
    
    --table-background-color: #555;
    --table-outer-border-color: #2b2;
    --table-inner-border-color: #111;
    --table-stripe1-color: #333;
    --table-stripe2-color: #3a3a3a;
}