:root {
    --navbar-text-color-h1-a: rgb(160, 0, 0);
    --navbar-text-color-h1-b: rgb(38, 172, 38);
    --navbar-text-color: crimson;
    --navbar-background-color: #222;
    
    --primary-text-color: #ddd;
    --primary-background-color: #333;
    --link-hover-color: crimson;
    
    --textbox-border-color: crimson;
    --textbox-background-color: rgba(50, 50, 50, 0.7);
    
    --button-text-hover-color: crimson;
    --button-background-hover-color: #222;
    
    --table-background-color: #555;
    --table-outer-border-color: crimson;
    --table-inner-border-color: #111;
    --table-stripe1-color: #333;
    --table-stripe2-color: #3a3a3a;
    
    
    
    --box-text-color: #ddd;
    --box-accent-color: crimson;
    --box-background-color: rgba(50, 50, 50, 0.7);
    --box-item-background-color: #333;
    --box-button-background-color: #3a3a3a;
    --box-button-hover-background-color: #222;
    
    --gallery-filter-background-color: #3a3a3a;
    --gallery-filter-border-color: crimson;
    --gallery-item-background-color: #3a3a3a;
    --gallery-item-border-color: #000;
    --gallery-item-table-border-color: #181818;
    
    --details-table-text-color: #ddd;
    --details-table-text-emphasis-color: #eee;
    --details-table-stripe-1-color: #4a3030;
    --details-table-stripe-2-color: #483838;
}