.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.gallery-container a {
    text-decoration: none;
    color: var(--primary-text-color);
}

.gallery-card {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: var(--courses-gallery-card-background-color);
}
.gallery-card:hover {
    background-color: #222;
}

.gallery-card h3 {
    text-align: center;
}

.gallery-card table {
}

.gallery-card th {
    text-align: end;
}

.gallery-card td {
}