.form-container {
    width: 400px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
    width: 100%;
}

form .form-part {
    display: flex;
    flex-direction: column;
}

input, textarea {
    width: 320px;
}
