.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    max-width: 600px;
    border: 1px solid var(--table-outer-border-color);
    border-radius: 2rem;
    background-color: var(--table-background-color);
}

button {
    color: var(--primary-text-color);
    background-color: var(--table-stripe1-color);
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid var(--table-outer-border-color);
    border-radius: 2rem;
}
button:hover {
    color: var(--primary-text-color);
    background-color: var(--courses-card-hover-color);
}