* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navbar-height: 3rem;
}

body {
    font-family: sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    background-image: linear-gradient(rgba(100, 0, 0, 0.5), rgba(60, 0, 0, 0.5));
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: var(--navbar-height);
}

main {
    position: relative;
    top: var(--navbar-height);
}

main h1 {
    text-align: center;
    margin: 1rem;
    text-shadow: 1px 1px 5px black;
}

a {
    text-decoration: none;
    color: inherit;
}
main a:hover {
    color: var(--link-hover-color);
}



.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-background-color);
    background-image: linear-gradient(rgba(100, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    width: 100%;
    height: var(--navbar-height);
    z-index: 999;
}
.navbar h1 {
    color: var(--navbar-text-color-h1-b);
    margin: 0 1rem;
}
.navbar h1 span{
    color: var(--navbar-text-color-h1-a);
}
.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.navbar a {
    text-decoration: none;
    color: var(--navbar-text-color);
    padding: 1rem;
    font-weight: bold;
}
.navbar a:hover {
    background-color: var(--navbar-text-color);
    color: var(--navbar-background-color);
}