@page
@model IndexModel

@{
    ViewData["Title"] = "Home";
}
@section styles
{
    <link rel="stylesheet" href="/css/index.css">
}

<h1>@ViewData["Title"]</h1>
<p>Welcome, random stranger. Bah!</p>

<div>
    <img src="/images/goat1.jpg" alt="Image of a goat">
</div>