@page
@model IndexModel

@{
    ViewData["Title"] = "Home";
}
@section styles
{
    <link rel="stylesheet" href="/css/index.css">
}

<h1>@ViewData["Title"]</h1>
<div>
    @if (HttpContext.Session.GetString("UserId") != null)
    {
        <p>Welcome, @HttpContext.Session.GetString("UserNameFull"). Baah!</p>
    }
    else
    {
        <p>Welcome, random stranger. Baah!</p>
    }
</div>

<img src="/images/goat1.jpg" alt="Image of a goat">