@page
@model WestcoastEducationStudentApp.Pages.Register
@{
    ViewData["Title"] = "Register";
}
@section styles
{
    <link rel="stylesheet" href="/css/register.css">
}

<h1>@ViewData["Title"]</h1>

<div class="form-container">
    <form method="post">
        <div class="form-field">
            <label asp-for="UserModel.FirstName"></label>
            <input asp-for="UserModel.FirstName">
        </div>
        <div class="form-field">
            <label asp-for="UserModel.LastName"></label>
            <input asp-for="UserModel.LastName">
        </div>
        <div class="form-field">
            <label asp-for="UserModel.Email"></label>
            <input asp-for="UserModel.Email">
        </div>
        <div class="form-field">
            <label asp-for="UserModel.PhoneNumber"></label>
            <input asp-for="UserModel.PhoneNumber">
        </div>
        <hr>
        <div class="form-field">
            <label asp-for="AddressModel.Street"></label>
            <input asp-for="AddressModel.Street">
        </div>
        <div class="form-field">
            <label asp-for="AddressModel.StreetNumber"></label>
            <input asp-for="AddressModel.StreetNumber">
        </div>
        <div class="form-field">
            <label asp-for="AddressModel.PostalCode"></label>
            <input asp-for="AddressModel.PostalCode">
        </div>
        <div class="form-field">
            <label asp-for="AddressModel.City"></label>
            <input asp-for="AddressModel.City">
        </div>
        <div class="form-field">
            <label asp-for="AddressModel.Country"></label>
            <input asp-for="AddressModel.Country">
        </div>
        
        <button type="submit">Submit</button>
    </form>
</div>
<br>
@Model.Message