@page
@model WestcoastEducationAdminApp.Pages.Courses.Create
@{
    ViewData["Title"] = "Create course";
}

<h1>@ViewData["Title"]</h1>


<div>
    <form method="post">
        <div>
            <label asp-for="CreateCourseModel!.Name"></label>
            <input asp-for="CreateCourseModel!.Name">
        </div>
        <div>
            <label for="categorySelect">Category</label>
            <select asp-for="CreateCourseModel!.CategoryId" id="categorySelect">
                <option value="" selected disabled hidden>Please select</option>
                @foreach (var category in Model.CategoryModels!)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>
        <div>
            <label asp-for="CreateCourseModel!.Summary"></label>
            <textarea asp-for="CreateCourseModel!.Summary" rows="5" cols="30"></textarea>
        </div>
        <div>
            <label asp-for="CreateCourseModel!.Description"></label>
            <textarea asp-for="CreateCourseModel!.Description" rows="10" cols="30"></textarea>
        </div>
        <div>
            <label asp-for="CreateCourseModel!.Hours"></label>
            <input asp-for="CreateCourseModel!.Hours">
        </div>
        <div>
            <label asp-for="CreateCourseModel!.Days"></label>
            <input asp-for="CreateCourseModel!.Days">
        </div>
        <div>
            <label asp-for="CreateCourseModel!.Code"></label>
            <input asp-for="CreateCourseModel!.Code">
        </div>

        <button type="submit">Create</button>
    </form>
</div>