body {
    background-image: url('/images/goats1.jpg');
}

.form-container {
    width: 400px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
    width: 100%;
}

input {
    width: 300px;
}