/* .gallery-card {
    border: 1px solid red;
}
.gallery-card h3 {
    border: 1px solid yellow;
}
.gallery-card table {
    border: 1px solid blue;
}

.details-container {
    border: 1px solid red;
}
.details-container h2 {
    border: 1px solid yellow;
}
.details-container table {
    border: 1px solid blue;
}
.details-container th {
    border: 1px solid green;
}
.details-container td {
    border: 1px solid green;
} */